$desktop = 1201px
$tablet = 1200px
$tabletLow = 401px
$mobile = 400px

$mqDesktop = "only screen and (min-width: " + $desktop + ")"
$mqTablet = "only screen and (max-width: " + $tablet + ") and (min-width: " + $tabletLow + ")"
$mqMobile = "only screen and (max-width: " + $mobile + ")"
