@import './typography.styl';
@import './colors.styl';

.recharts-text
.recharts-tooltip-wrapper
.recharts-legend-wrapper {
    font-family: $primary;
}

.loader-wrapper {
    border-left: 2px solid $light-gray2
    border-bottom: 2px solid $light-gray2
    display: flex
} 
    